<div class="container mt-5 mb-5">
  <h1>Create a New Ticket</h1>

  <%= form_with(model: @ticket, url: party_tickets_path(params[:party_id]), local: true) do |f| %>
    <div class="mb-3">
      <%= f.label :ticket_date, 'Date', class: "form-label" %>
      <%= f.date_field :ticket_date, as: :date, value: f.object.ticket_date.presence || Date.today, class: 'form-control', required: true %> 
    </div>

    <div class="mb-3">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control", placeholder: "Enter name of ticket holder", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :passport_no, class: "form-label" %>
      <%= f.text_field :passport_no, class: "form-control", placeholder: "Enter Passport No. of ticket holder", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :invoice_no, class: "form-label" %>
      <%= f.text_field :invoice_no, class: "form-control", placeholder: "Enter Invoice No.", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :ticket_no, class: "form-label" %>
      <%= f.text_field :ticket_no, class: "form-control", placeholder: "Enter Ticket No.", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :sector, class: "form-label" %>
      <%= f.text_field :sector, class: "form-control", placeholder: "Enter sector", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :fare, class: "form-label" %>
      <% placeholder_value = @ticket.new_record? ? nil : "0.00" %>
      <%= f.number_field :fare, value: placeholder_value, class: "form-control", step: "0.01", placeholder: "Enter Fare", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :taxes, class: "form-label" %>
      <% placeholder_value = @ticket.new_record? ? nil : "0.00" %>
      <%= f.number_field :taxes, value: placeholder_value, class: "form-control", step: "0.01", placeholder: "Enter taxes", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :sp, class: "form-label" %>
      <% placeholder_value = @ticket.new_record? ? nil : "0.00" %>
      <%= f.number_field :sp, value: placeholder_value, class: "form-control", step: "0.01", placeholder: "Enter SP", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :kb, class: "form-label" %>
      <% placeholder_value = @ticket.new_record? ? nil : "0.00" %>
      <%= f.number_field :kb, value: placeholder_value, class: "form-control", step: "0.01", placeholder: "Enter KB", required: true %>
    </div>

    <%= f.submit "Create Party", class: "btn btn-primary" %>
  <% end %>
</div>
